body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
}

h1 {
    margin: 0;
}
.titulo-principal {
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

#banner {
    width: 100%;
    
}

.principal {
    background: #cccccc;
    padding: 50px;
}

.titulo-centralizado {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    text-align: center;
    margin-bottom: 10px;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: white;
    padding: 20px;
}

.beneficios ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.beneficios img {
    width: 50%;
}